 <!DOCTYPE html>
 <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.name }} - {{ title }}</title>
        {% if description %}
            <meta name="description" content="{{ description }}">                      
        {% else %}
            <meta name="description" content="{{ site.description }}">                      
        {% endif %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseURL }}/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseURL }}/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseURL }}/assets/icons/favicon-16x16.png">  
        <link rel="stylesheet" href="{{ site.baseUrl }}/assets/styles/base.css">
        <link rel="stylesheet" href="{{ site.baseUrl }}/assets/styles/header.css">
        <link rel="stylesheet" href="{{ site.baseUrl }}/assets/styles/footer.css">        
        {% if stylesFileName %}  
            <link rel="stylesheet" href="{{ site.baseUrl }}/assets/styles/{{ stylesFileName }}">   
        {% endif %}     
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseUrl }}/assets/styles/heroimage.css">  
        <link rel="stylesheet" href="{{ site.baseUrl }}/assets/styles/cards.css">  
        <link rel="stylesheet" href="{{ site.baseUrl }}/assets/styles/benefitscards.css">  
    </head>
    <body class="light-mode">      
        {% include "header.njk" %}
                
        <main  id="main" >
            <article class="container article">
                {# <header> <h1 >{{ title }}</h1> </header>                 #}
                {{ content | safe }}
            </article>
        </main>

        {% include "footer.njk" %}        
        
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            function toggleMenu() {
            document.querySelector('.nav-links').classList.toggle('nav-active');            
            }       
            // Selecciona la cabecera
            const header = document.getElementById("header");

            // Agrega un evento de scroll
            window.addEventListener("scroll", () => {
            if (window.scrollY > 40) {
                // Si se ha desplazado más de 50px, agrega la clase
                header.classList.add("scrolled");
            } else {
                // Si no, quita la clase
                header.classList.remove("scrolled");
            }
            });                                    
        </script>
        <script>
            AOS.init();
        </script>
    </body>
 </html> 

