<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                {# <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>{{ site.client.address }}</small> #}
                <a href="tel:{{ site.client.telephone }}" class="me-3 text-light text-decoration-none">
                    <small><i class="fa fa-phone-alt me-2"></i>{{ site.client.telephone }}</small>
                </a>
                <a href="mailto:{{ site.client.email }}" class="text-light text-decoration-none">
                    <small><i class="fa fa-envelope-open me-2"></i>{{ site.client.email }}</small>
                </a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                {% for social in site.socials %}
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-{{ social.icon }} fw-normal"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
