<form>
    <div class="row g-3">
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control bg-white border-0" placeholder="Tu Nombre" style="height: 55px;">
        </div>
        <div class="col-12 col-sm-6">
            <input type="email" class="form-control bg-white border-0" placeholder="Tu Email" style="height: 55px;">
        </div>
        <div class="col-12">
            <input type="text" class="form-control bg-white border-0" placeholder="Sitio Web" style="height: 55px;">
        </div>
        <div class="col-12">
            <textarea class="form-control bg-white border-0" rows="5" placeholder="Comentario"></textarea>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100 py-3" type="submit">Dejar Comentario</button>
        </div>
    </div>
</form>
