 
  #header {
    position: sticky;
    top: 0px;    
    padding: 0.6rem 0;
    background-color: var(--color-accent);
    font-size: 1.2em;
    transition: padding 0.6s ease; /* Suaviza el cambio de tamaño */
    z-index: 1000;
    transition: all 0.6s ease;     
    box-shadow: 1px -6px 17px 7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -6px 17px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -6px 17px 7px rgba(0,0,0,0.75);
  }  
  .logo img {
    width: 40px;
    height: auto;
    transition: all 0.6s ease; 
  }
  
  /* Estilos para la navegación */
  .site-nav {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8em;    
  }
  .site-nav button {
    color: var(--footer-color-text);
    font-size: 1.8em;
    transition: all 0.6s ease; 
  }
  
/* Oculta el menú de enlaces en dispositivos móviles */
.nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* Oculto fuera de la pantalla por defecto */
    height: 100%;
    width: 100vw;  
    background-color: var(--color-accent);        
    opacity: 0.9;
    list-style: none;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;    
    transition: all 0.6s ease;
    
  }
  
  .nav-links li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  .nav-links a {    
    text-decoration: none;
    color: var(--footer-color-text);
  }

  .nav-links a:hover{
    color: var(--color-text);
  }

  /* Activa el menú cuando tiene la clase 'nav-active' */
.nav-active {
    right: 0; /* El menú se desliza desde el costado */
  }
  
/* Botón del menú en dispositivos móviles */
.menu-toggle {
background: none;
border: none;

font-size: 2rem;
cursor: pointer;
}

  /* Botón de cerrar menú */
.close-menu {
    background: none;
    border: none;
    
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1rem;
  }

/* Estilo reducido de la cabecera al hacer scroll */
#header.scrolled {
  padding: 0.4rem 0;
  transition: all 0.6s ease;
}

#header.scrolled .logo img {
  width: 32px;
  height: auto;
  transition: all 0.6s ease;
}
#header.scrolled button {
  font-size: 1.4em;
  transition: all 0.6s ease;
}
  
 /* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    .nav-links {
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;      
      gap: 0;
      display: flex;
      font-size: 1em;
      background-color: var(--color-accent);
    }
    .menu-toggle {
      display: none;
    }
    .close-menu {
        display: none;
      }
    #header.scrolled {
      padding: 0rem 0;
      transition: all 0.6s ease;
      height: fit-content;
    }
  }
  